<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">{{ heading }}</h5>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="position-relative row form-group"><label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="merchant_name" placeholder="Enter Name" type="text" formControlName="merchant_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchant_name.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input name="email" id="email" placeholder="Enter Email" readonly type="email" formControlName="merchant_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchant_email.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input name="password" id="password" placeholder="Enter Password" type="password" formControlName="merchant_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchant_password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input name="confirm_password" id="confirm_password" placeholder="Enter Confirm Password" type="password" formControlName="merchant_confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.merchant_confirm_password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="admin_profile" class="col-sm-2 col-form-label">Profile Picture</label>
        <div class="col-sm-10"><input name="profile" (change)="IconChange($event.target.files)" id="admin_profile" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="merchant_logo" [ngClass]="{ 'is-invalid': submitted && f.merchant_logo.errors }" />
			<div class="row"><div class="col-md-5  image-upload">
                <img [src]="preview_customer_profile" height="100" *ngIf="preview_customer_profile" onError="this.src='./assets/images/avatars/1.png';">
                </div></div>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Update</button>
          <a routerLink="/"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
 
  </div>
</div>