<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">{{ heading }}</h5>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="position-relative row form-group"><label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="name" placeholder="Enter Name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="email" class="col-sm-2 col-form-label">Email Address</label>
        <div class="col-sm-10">
            <input name="email" id="email" placeholder="Enter Email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input name="password" id="password" placeholder="Enter Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input name="confirm_password" id="confirm_password" placeholder="Enter Confirm Password" type="password" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="admin_profile" class="col-sm-2 col-form-label">Profile Picture</label>
        <div class="col-sm-10"><input name="profile" (change)="IconChange($event.target.files)" id="admin_profile" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="admin_profile" [ngClass]="{ 'is-invalid': submitted && f.admin_profile.errors }" />
			<div class="row"><div class="col-md-5  image-upload"><img [src]="preview_admin_profile" height="100" *ngIf="preview_admin_profile" onError="this.src='./assets/images/avatars/1.png';" /></div></div>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select name="status" id="status" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value="1"> Active</option>
            <option value="0"> In-active</option>
          </select>
        </div>
      </div>
      <div class="position-relative row "><label for="permissions" class="col-sm-2 col-form-label">Permissions</label>
        <div class="col-sm-5">
          <!-- <mat-checkbox class="example-margin" (change)="onModuleChange($event, 'UserModule')" value="/user/">Admin Users</mat-checkbox> -->
          <div *ngFor="let user of permissions.users; let i = index" >
              <mat-checkbox class="example-margin" [checked]="user.checked" [disabled]="user.disabled" (change)="onChange($event)" [value]="user.value">{{user.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let voucher of permissions.vouchers; let i = index" >
              <mat-checkbox class="example-margin" [checked]="voucher.checked" [disabled]="voucher.disabled" (change)="onChange($event)" [value]="voucher.value">{{voucher.title}}</mat-checkbox>
          </div>
          <br>
        </div>
        <div class="col-sm-5">
          <div *ngFor="let redeem_request of permissions.redeem_requestss; let i = index" >
              <mat-checkbox class="example-margin" [checked]="redeem_request.checked" [disabled]="redeem_request.disabled" (change)="onChange($event)" [value]="redeem_request.value">{{redeem_request.title}}</mat-checkbox>
          </div> 
          <br>
          <div *ngFor="let quest of permissions.quests; let i = index" >
              <mat-checkbox class="example-margin" [checked]="quest.checked" [disabled]="quest.disabled" (change)="onChange($event)" [value]="quest.value">{{quest.title}}</mat-checkbox>
          </div> 
          <div *ngFor="let complete_request of permissions.complete_requestss; let i = index" >
              <mat-checkbox class="example-margin" [checked]="complete_request.checked" [disabled]="complete_request.disabled" (change)="onChange($event)" [value]="complete_request.value">{{complete_request.title}}</mat-checkbox>
          </div> 
          <br>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Update</button>
          <a routerLink="/user"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
 
  </div>
</div>