<div class="d-flex">

  <ul class="header-megamenu nav header-megamenu-changes">
    <li class="nav-item">
      <div class="btn-group" ngbDropdown>
        <button class="btn btn-link" ngbDropdownToggle>
          <span>
            <div class="badge badge-pill badge-danger ml-0 mr-2"><i class="fa fa-bell" ></i> {{ total_requests }}</div>
          </span>
        </button>
        <div ngbDropdownMenu>
          <div class="dropdown-menu-header">
            <div class="dropdown-menu-header-inner bg-focus">
              <div class="menu-header-image opacity-2 dd-header-bg-5"></div>
              <div class="menu-header-content">
                <h5 class="menu-header-title">Pending Requests</h5>
                <!-- <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6> -->
              </div>
            </div>
          </div>
          <div class="scroll-area-xs">
            <perfect-scrollbar [autoPropagation]="true">
              <!-- <h6  class="dropdown-header">Key Figures</h6> -->
              <button type="button" routerLink="/complete_requests" class="dropdown-item">{{ quest_requests }} - Quest Complete Requests</button>
              <button type="button" routerLink="/redeem_requests" class="dropdown-item">{{ voucher_requests }} - Voucher Redeem Requests</button>
              <!-- <button type="button" class="dropdown-item">Knowledge Base</button>
              <button type="button" class="dropdown-item">Accounts</button>
              <div  class="dropdown-divider"></div>
              <button type="button" class="dropdown-item">Products</button>
              <button type="button" class="dropdown-item">Rollup Queries</button> -->
            </perfect-scrollbar>
          </div>
          <ul class="nav flex-column">
            <li class="nav-item-divider nav-item"></li>
            <li class="nav-item-btn nav-item">
              <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <div class="header-btn-lg pr-0">
    <div class="widget-content p-0">
      <div class="widget-content-wrapper">
        <div class="widget-content-left">
          <div class="btn-group" ngbDropdown placement="bottom-right">
            <button type="button" class="btn btn-link p-0 mr-2" ngbDropdownToggle>
              <span>
                <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                  <img width="42" [src]="profile_pic" *ngIf="profile_pic" onError="this.src='./assets/images/avatars/1.png';" alt="" class="rounded-circle">
                </div>
              </span>
            </button>
            <div class="dropdown-menu-xs dropdown-width" ngbDropdownMenu>
<!--
              <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-info">
                  <div class="menu-header-image opacity-2 dd-header-bg-6"></div>
                  <div class="menu-header-content text-left">
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-3">
                          <img width="42" [src]="currentUser.admin_profile" onError="this.src='./assets/images/avatars/1.png';" alt="" class="rounded-circle">
                        </div>
                        <div class="widget-content-left">
                          <div class="widget-heading">{{ currentUser.firstname }} {{ currentUser.lastname }}</div>
                           <div class="widget-subheading opacity-8">A short profile description</div> 
                        </div>
                        <div class="widget-content-right mr-2">
                          <button class="btn-pill btn-shadow btn-shine btn btn-focus" (click)="logout()">Logout</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
-->
              <div class="scroll-area-xs">
                <perfect-scrollbar [autoPropagation]="true">
                  <ul class="nav flex-column">
                    <li class="nav-item"><a routerLink="/profile" class="nav-link">My Account
                    </a></li>
					           <div class="divider my-2"></div>
					           <li class="nav-item"><a class="nav-link" (click)="logout()" >log out
                    </a></li>
                  </ul>
                </perfect-scrollbar>
              </div>
              <!-- <ul class="nav flex-column">
                <li class="nav-item-divider mb-0 nav-item"></li>
              </ul>   --> 
            </div>
          </div>
        </div>
        <!-- <div class="widget-content-left ml-3 header-user-info">
          <div class="widget-heading">Robert Murdoch</div>
          <div class="widget-subheading">Angular Developer</div>
        </div>
        <div class="widget-content-right header-user-info ml-3">
          <button type="button" class="btn btn-shadow p-1 btn-info btn-sm" placement="bottom" ngbTooltip="Tooltip Example!">
            <fa name="calendar" class="mr-1 ml-1"></fa>
          </button>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="header-btn-lg">
    <button type="button" class="hamburger hamburger--elastic" [ngClass]="{'is-active' : globals.toggleDrawer}" (click)="toggleDrawer()">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
  </div> -->
</div>

