<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">View Voucher</h5>
    <form [formGroup]="voucherForm">

      <div class="position-relative row form-group"><label for="voucher_type" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
            <label *ngIf="getControlLabel('voucher_type')=='0'">Purchasable</label>
            <label *ngIf="getControlLabel('voucher_type')=='1'">Rewards</label>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="voucher_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_name')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="voucher_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <label [innerHTML]="getControlLabel('voucher_description')"></label>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="voucher_buy_amount" class="col-sm-2 col-form-label">Voucher Price</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_buy_amount')}}</label>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="voucher_value" class="col-sm-2 col-form-label">Voucher Value</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_value')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="voucher_expiry_option" class="col-sm-2 col-form-label">Stock Type</label>
        <div class="col-sm-10">
            <label *ngIf="getControlLabel('voucher_stock_type')=='1'">Limited</label>
            <label *ngIf="getControlLabel('voucher_stock_type')=='0'">Unlimited</label>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="stockStatus"><label for="voucher_stock" class="col-sm-2 col-form-label">Available Stock</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_stock')}}</label>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="voucher_redeem_limit" class="col-sm-2 col-form-label">Redeem Limit</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_redeem_limit')}}</label>
        </div>
      </div> -->
      <!-- <div class="position-relative row form-group">
        <label for="voucher_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-10">
          <label>{{getControlLabel('voucher_expiry_date')}}</label>
        </div>
      </div> -->
      <div class="position-relative row form-group"><label for="voucher_expiry_option" class="col-sm-2 col-form-label">Expiry Option</label>
        <div class="col-sm-10">
            <label *ngIf="getControlLabel('voucher_expiry_option')=='1'">Date</label>
            <label *ngIf="getControlLabel('voucher_expiry_option')=='0'">Days</label>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="DateShow">
        <label for="voucher_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-5">
          <label> From: {{getControlLabel('voucher_expiry_start_date')}}</label> 
        </div>
        <div class="col-sm-5">
          <label> To: {{getControlLabel('voucher_expiry_date')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="!DateShow">
        <label for="voucher_expiry_days" class="col-sm-2 col-form-label">Expiry Day</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_expiry_days')}} (From the date of purchase)</label>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Voucher Image</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_challenge_icon" height="100" *ngIf="preview_challenge_icon"></div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Redeem Icon</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_redeem_icon" height="100" *ngIf="preview_redeem_icon"></div>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="voucher_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <label *ngIf="getControlLabel('voucher_status')=='1'">Published</label>
            <label *ngIf="getControlLabel('voucher_status')=='0'">Draft</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="voucher_publish_date" class="col-sm-2 col-form-label">Publish Date</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_publish_date')}}</label>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="voucher_sort_order" class="col-sm-2 col-form-label">Sort Order</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('voucher_sort_order')}}</label>
        </div>
      </div> -->
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <a routerLink="/voucher"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
   
  </div>
</div>