<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body" *ngIf="voucherForm"><h5 class="card-title">Edit Voucher</h5>
    <form [formGroup]="voucherForm" (ngSubmit)="onSubmit()">
      
      <div class="position-relative row form-group"><label for="voucher_type" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
            <mat-radio-group aria-label="Select a Type" formControlName="voucher_type" [ngClass]="{ 'is-invalid': submitted && f.voucher_type.errors }">
              <mat-radio-button value="0">Purchasable</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="1">Rewards </mat-radio-button>
            </mat-radio-group>
        </div>
      </div>

      <div class="position-relative row form-group position_relative"><label for="voucher_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="voucher_name" placeholder="Enter Voucher Name" type="text" formControlName="voucher_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.voucher_name.errors }" >
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="voucher_short_description" class="col-sm-2 col-form-label">Short Description</label>
        <div class="col-sm-10">
          <textarea name="description" id="voucher_short_description" formControlName="voucher_short_description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.voucher_short_description.errors }" ></textarea>
        </div>
      </div> -->
      <div class="position-relative row form-group position_relative"><label for="voucher_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <angular-editor formControlName="voucher_description" [ngClass]="{ 'is-invalid': submitted && f.voucher_description.errors }" [config]="wyswigconfig"></angular-editor>
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="voucher_buy_amount" class="col-sm-2 col-form-label">Voucher Price</label>
        <div class="col-sm-10">
            <input name="buy_amount" type="number" min="1" id="voucher_buy_amount" step="0.01" placeholder="Enter Voucher Price" formControlName="voucher_buy_amount" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.voucher_buy_amount.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="voucher_value" class="col-sm-2 col-form-label">Voucher Value</label>
        <div class="col-sm-10">
            <input name="value" type="number" min="1" id="voucher_value" step="0.01" placeholder="Enter Voucher Value" formControlName="voucher_value" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.voucher_value.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="voucher_stock_type" class="col-sm-2 col-form-label">Stock Type</label>
        <div class="col-sm-10">
            <mat-radio-group aria-label="Select a Type" formControlName="voucher_stock_type" [ngClass]="{ 'is-invalid': submitted && f.voucher_stock_type.errors }">
              <mat-radio-button value="0">Unlimited</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="1">Limited </mat-radio-button>
            </mat-radio-group>
        </div>
      </div>

      <div class="position-relative row form-group" *ngIf="StockType"><label for="voucher_stock" class="col-sm-2 col-form-label">Available Stock</label>
        <div class="col-sm-10">
            <input name="redeem_limit" type="number" min="1" id="voucher_stock" placeholder="Enter Voucher Available Stock" formControlName="voucher_stock" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.voucher_stock.errors }" >
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="voucher_redeem_limit" class="col-sm-2 col-form-label">Redeem Limit</label>
        <div class="col-sm-10">
            <input name="redeem_limit" type="number" min="1" id="voucher_redeem_limit" placeholder="Enter Voucher Redeem Limit" formControlName="voucher_redeem_limit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.voucher_redeem_limit.errors }" >
        </div>
      </div> -->
      <div class="position-relative row form-group position_relative"><label for="voucher_expiry_option" class="col-sm-2 col-form-label">Expiry Option</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-select name="expiry_option" id="voucher_expiry_option" formControlName="voucher_expiry_option"  [ngClass]="{ 'is-invalid': submitted && f.voucher_expiry_option.errors }">
              <mat-option value="1"> Date</mat-option>
              <mat-option value="0"> Days</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="position-relative row form-group position_relative" *ngIf="DateShow">
        <label for="voucher_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-5">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker" [max]="ExpmaxDate" readonly formControlName="voucher_expiry_start_date" [ngClass]="{ 'is-invalid': submitted && f.voucher_expiry_date.errors }" placeholder = "Start Date">
             <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
             <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-5">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker2" [min]="ExpminDate"  readonly formControlName="voucher_expiry_date" [ngClass]="{ 'is-invalid': submitted && f.voucher_expiry_date.errors }" placeholder = "End Date">
             <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
             <mat-datepicker #picker2 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="position-relative row form-group position_relative" *ngIf="!DateShow">
        <label for="voucher_expiry_days" class="col-sm-2 col-form-label">Expiry Day</label>
        <div class="col-sm-10">
            <input name="expiry_days" type="number" min="1" id="voucher_expiry_days" placeholder="Enter Voucher Expiry Days" formControlName="voucher_expiry_days" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.voucher_expiry_days.errors }" >
        </div>
      </div>
      <!-- <div class="position-relative row form-group">
        <label for="voucher_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-10">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker" formControlName="voucher_expiry_date" [ngClass]="{ 'is-invalid': submitted && f.voucher_expiry_date.errors }" placeholder = "Choose Expiry Date">
             <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
      <div class="position-relative row form-group position_relative">
        <label for="exampleFile" class="col-sm-2 col-form-label">Voucher Image</label>
        <div class="col-sm-10"><input name="challenge_icon" (change)="IconChange($event.target.files)" id="voucher_challenge_icon" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="voucher_challenge_icon" [ngClass]="{ 'is-invalid': submitted && f.voucher_challenge_icon.errors }" />
			<div class="row"><div class="col-md-5 image-upload"><img [src]="preview_challenge_icon" height="100" *ngIf="preview_challenge_icon"></div></div>
        </div>
      </div>
      <div class="position-relative row form-group position_relative">
        <label for="exampleFile" class="col-sm-2 col-form-label">Redeem Icon</label>
        <div class="col-sm-10"><input name="redeem_icon" (change)="ImageChange($event.target.files)" id="voucher_redeem_icon" accept="image/*" type="file" class="" >
          <input type="hidden" formControlName="voucher_redeem_icon" [ngClass]="{ 'is-invalid': submitted && f.voucher_redeem_icon.errors }" />
			<div class="row"><div class="col-md-5 image-upload"><img [src]="preview_redeem_icon" height="100" *ngIf="preview_redeem_icon"></div></div>
        </div>
      </div>
      <div class="position-relative row form-group position_relative"><label for="voucher_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-select name="status" id="voucher_status" formControlName="voucher_status"  [ngClass]="{ 'is-invalid': submitted && f.voucher_status.errors }">
              <mat-option value="1"> Published</mat-option>
              <mat-option value="0"> Draft</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="position-relative row form-group position_relative">
        <label for="voucher_publish_date" class="col-sm-2 col-form-label">Publish Date</label>
        <div class="col-sm-10">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker1" formControlName="voucher_publish_date" [ngClass]="{ 'is-invalid': submitted && f.voucher_publish_date.errors }" placeholder = "Choose Publish Date">
             <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
             <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="voucher_sort_order" class="col-sm-2 col-form-label">Sort Order</label>
        <div class="col-sm-10">
            <input name="name" id="voucher_sort_order" placeholder="Enter Voucher Sort Order" type="text" formControlName="voucher_sort_order" class="form-control"  >
        </div>
      </div> -->
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Update</button>
          <a routerLink="/voucher"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
   
  </div>
</div>