<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <mat-form-field class="mr-3">
    <mat-select placeholder="Status" [(ngModel)]="filter_status">
      <mat-option value="A">Active</mat-option>
      <mat-option value="R">Requested</mat-option>
      <mat-option value="C">Completed</mat-option>
    </mat-select> 
  </mat-form-field> 
  <button class="mr-2 mat-raised-button mat-primary" (click)="Filter()" mat-button color="primary">Filter</button>
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 >Reset</button> 
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let quest;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quest Name</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.quest_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.customer_firstname}} {{ quest.customer_lastname }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="customer_email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Email</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.customer_email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quest_accepted_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let quest"> {{quest.quest_accepted_status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let quest" >
            <span *ngIf="quest.quest_accepted_status=='Completed'" class="sucess-loop"><button class="ml-2 btn btn-light"><i class="fa fa-check" ></i></button></span>
            <span *ngIf="quest.quest_accepted_status=='Expired'" class="expired-loop"><button class="ml-2 btn btn-light"><i class="fa fa-exclamation-triangle" ></i></button></span>
          <button class="ml-2 btn btn-primary" *ngIf="quest.quest_accepted_status=='Requested'" (click)="acceptQuest(quest.quest_id, quest.customer_id)">Generate</button>
          <button class="ml-2 btn btn-light" title="Request Delete" *ngIf="quest.quest_accepted_status!='Active' && quest.quest_accepted_status!='Expired'" (click)="DeleteRequest(quest.quest_id,quest.customer_id,quest.quest_accepted_status)"><i class="fa fa-trash" ></i></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
