<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">View Quest</h5>
    <form [formGroup]="questForm" >
      <div class="position-relative row form-group">
        <label for="quest_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('quest_name')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="quest_short_description" class="col-sm-2 col-form-label">Short Description</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('quest_short_description')}}</label>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="quest_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <label [innerHTML]="getControlLabel('quest_description')"></label>
        </div>
      </div> -->
      <div class="position-relative row form-group">
        <label for="quest_voucher_name" class="col-sm-2 col-form-label">Voucher</label>
        <div class="col-sm-10">
          <label>{{getControlLabel('quest_voucher_name')}}</label>
        </div>
      </div>
      <!-- <div class="position-relative row form-group">
        <label for="quest_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-10">
          <label>{{getControlLabel('quest_expiry_date')}}</label>
        </div>
      </div> -->
      <div class="position-relative row form-group"><label for="quest_expiry_option" class="col-sm-2 col-form-label">Expiry Option</label>
        <div class="col-sm-10">
            <label *ngIf="getControlLabel('quest_expiry_option')=='1'">Date</label>
            <label *ngIf="getControlLabel('quest_expiry_option')=='0'">Days</label>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="DateShow">
        <label for="quest_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-5">
          <label> From: {{getControlLabel('quest_expiry_start_date')}}</label> 
        </div>
        <div class="col-sm-5">
          <label> To: {{getControlLabel('quest_expiry_date')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="!DateShow">
        <label for="quest_expiry_days" class="col-sm-2 col-form-label">Expiry Day</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('quest_expiry_days')}} (From the date of accept)</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="quest_expiry_option" class="col-sm-2 col-form-label">Participant Limit Option</label>
        <div class="col-sm-10">
          <label *ngIf="getControlLabel('quest_limit_option')=='0'">Join</label>
          <label *ngIf="getControlLabel('quest_limit_option')=='1'">Complete</label>
          <label *ngIf="getControlLabel('quest_limit_option')=='2'">Unlimited</label>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="getControlLabel('quest_limit_option')!='2'" >
        <label for="quest_expiry_days" class="col-sm-2 col-form-label">Participant Limit</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('quest_limit')}}</label>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Listing Image</label>
        <div class="col-sm-10">
			     <div class="col-md-5 image-upload"><img [src]="preview_challenge_icon" height="100" *ngIf="preview_challenge_icon"></div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Featured Slider Image</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_challenge_image" height="100" *ngIf="preview_challenge_image"></div>
        </div>
      </div>

      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Detail Image 1</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_detail_image" height="100" *ngIf="preview_detail_image"></div>
        </div>
      </div>

      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Detail Image 2</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_detail_image1" height="100" *ngIf="preview_detail_image1"></div>
        </div>
      </div>

      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Detail Image 3</label>
        <div class="col-sm-10">
          <div class="col-md-5 image-upload"><img [src]="preview_detail_image2" height="100" *ngIf="preview_detail_image2"></div>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="quest_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <label *ngIf="getControlLabel('quest_status')=='1'">Published</label>
            <label *ngIf="getControlLabel('quest_status')=='0'">Draft</label>
        </div>
      </div>
      <div class="position-relative row form-group"><label for="quest_publish_date" class="col-sm-2 col-form-label">Publish Date</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('quest_publish_date')}}</label>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="quest_sort_order" class="col-sm-2 col-form-label">Sort Order</label>
        <div class="col-sm-10">
            <label>{{getControlLabel('quest_sort_order')}}</label>
        </div>
      </div> -->
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <a routerLink="/quest"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
        </div>
      </div>
    </form>
    <div>
    </div>
  </div>
</div>