<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Add Quest</h5>
    <form [formGroup]="questForm" (ngSubmit)="onSubmit()"  class="admin-forms">
      <div class="position-relative row form-group"><label for="quest_name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input name="name" id="quest_name" placeholder="Enter Quest Name" type="text" formControlName="quest_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quest_name.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="quest_short_description" class="col-sm-2 col-form-label">Short Description</label>
        <div class="col-sm-10">
          <textarea name="description" id="quest_short_description" formControlName="quest_short_description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quest_short_description.errors }" ></textarea>
        </div>
      </div>      
      <!-- <div class="position-relative row form-group"><label for="quest_description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <angular-editor formControlName="quest_description" [ngClass]="{ 'is-invalid': submitted && f.quest_description.errors }" [config]="wyswigconfig"></angular-editor>
        </div>
      </div> -->
      <div class="position-relative row form-group"><label for="quest_voucher_id" class="col-sm-2 col-form-label">Voucher</label>
        <div class="col-sm-10">
          <!-- <select name="voucher_id" id="quest_voucher_id" formControlName="quest_voucher_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quest_voucher_id.errors }">
            <option value=""> Select a voucher</option>
            <option *ngFor="let voucher of vouchers; let i = index" [value]="vouchers[i].voucher_id">
              {{vouchers[i].voucher_name}}
            </option>
          </select> -->
          <mat-form-field>
            <mat-select name="voucher_id" id="quest_voucher_id" formControlName="quest_voucher_id"  [ngClass]="{ 'is-invalid': submitted && f.quest_voucher_id.errors }">
              <mat-option value=""> Assign a Voucher</mat-option>
              <mat-option *ngFor="let voucher of vouchers; let i = index" [value]="vouchers[i].voucher_id">{{vouchers[i].voucher_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="position-relative row form-group">
        <label for="quest_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-10">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker" [min]="minDate"  formControlName="quest_expiry_date" [ngClass]="{ 'is-invalid': submitted && f.quest_expiry_date.errors }" placeholder = "Choose Expiry Date">
             <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div> -->
      <div class="position-relative row form-group"><label for="quest_expiry_option" class="col-sm-2 col-form-label">Expiry Option</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-select name="expiry_option" id="quest_expiry_option" formControlName="quest_expiry_option"  [ngClass]="{ 'is-invalid': submitted && f.quest_expiry_option.errors }">
              <mat-option value="1"> Date</mat-option>
              <mat-option value="0"> Days</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="DateShow">
        <label for="quest_expiry_date" class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-5">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker"  [max]="ExpmaxDate" formControlName="quest_expiry_start_date" readonly [ngClass]="{ 'is-invalid': submitted && f.quest_expiry_date.errors }" placeholder = "Start Date">
             <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
             <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-5">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker2" [min]="ExpminDate"  readonly formControlName="quest_expiry_date" [ngClass]="{ 'is-invalid': submitted && f.quest_expiry_date.errors }" placeholder = "End Date">
             <mat-datepicker-toggle matSuffix [for] = "picker2"></mat-datepicker-toggle>
             <mat-datepicker #picker2 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="!DateShow">
        <label for="quest_expiry_days" class="col-sm-2 col-form-label">Expiry Day</label>
        <div class="col-sm-10">
            <input name="expiry_days" type="number" min="1" id="quest_expiry_days" placeholder="Enter Quest Expiry Days" formControlName="quest_expiry_days" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quest_expiry_days.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group"><label for="quest_limit_option" class="col-sm-2 col-form-label">Participant Limit Option</label>
        <div class="col-sm-10">
            <mat-radio-group aria-label="Select a Option" formControlName="quest_limit_option" [ngClass]="{ 'is-invalid': submitted && f.quest_limit_option.errors }">
              <mat-radio-button value="0">Join</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="1">Complete </mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="2">Unlimited </mat-radio-button>
            </mat-radio-group>
        </div>
      </div>
      <div class="position-relative row form-group" *ngIf="limitShow" >
        <label for="quest_limit" class="col-sm-2 col-form-label">Participant Limit</label>
        <div class="col-sm-10">
            <input name="quest_limit" type="number" min="1" id="quest_limit" placeholder="Enter Quest Participant Limit" formControlName="quest_limit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quest_limit.errors }" >
        </div>
      </div>

      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Listing Image</label>
        <div class="col-sm-10"><input name="challenge_icon" (change)="IconChange($event.target.files)" id="quest_challenge_icon" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="quest_challenge_icon" [ngClass]="{ 'is-invalid': submitted && f.quest_challenge_icon.errors }" />
          <!-- formControlName="quest_challenge_icon" [ngClass]="{ 'is-invalid': submitted && f.quest_challenge_icon.errors }" -->
			<div class="row"><div class="col-md-5 image-upload"><img [src]="preview_challenge_icon" height="100" *ngIf="preview_challenge_icon"></div></div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Featured Slider Image</label>
        <div class="col-sm-10"><input name="challenge_image" (change)="ImageChange($event.target.files)" id="quest_challenge_image" accept="image/*" type="file" class="" >
          <input type="hidden" formControlName="quest_challenge_image" [ngClass]="{ 'is-invalid': submitted && f.quest_challenge_image.errors }" />
          <!-- formControlName="quest_challenge_image" [ngClass]="{ 'is-invalid': submitted && f.quest_challenge_image.errors } -->
			<div class="row"><div class="col-md-5 image-upload"><img [src]="preview_challenge_image" height="100" *ngIf="preview_challenge_image"></div></div>
        </div>
      </div>

      <!-- <div class="position-relative row form-group">
        <label for="exampleFile" class="col-sm-2 col-form-label">Detail Image</label>
        <div class="col-sm-10"><input name="detail_image" (change)="DtlImageChange($event.target.files)" id="quest_detail_image" accept="image/*" type="file" class="" >
          <input type="hidden" formControlName="quest_detail_image" [ngClass]="{ 'is-invalid': submitted && f.quest_detail_image.errors }" />
      <div class="row"><div class="col-md-5 image-upload"><img [src]="preview_detail_image" height="100" *ngIf="preview_detail_image"></div></div>
        </div>
      </div> -->

      <div class="details-div">
        <h6>Detail 1</h6>
        <div class="position-relative row form-group">
          <label for="exampleFile" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-10"><input name="detail_image" (change)="DtlImageChange($event.target.files)" id="quest_detail_image" accept="image/*" type="file" class="" >
            <input type="hidden" formControlName="quest_detail_image" [ngClass]="{ 'is-invalid': submitted && f.quest_detail_image.errors }" />
        <div class="row"><div class="col-md-5 image-upload"><img [src]="preview_detail_image" height="100" *ngIf="preview_detail_image"></div></div>
          </div>
        </div>
        <div class="position-relative row form-group"><label for="quest_detail" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <angular-editor formControlName="quest_detail" [ngClass]="{ 'is-invalid': submitted && f.quest_detail.errors }" [config]="wyswigconfig"></angular-editor>
          </div>
        </div>
      </div>

      <div class="details-div">
        <h6>Detail 2</h6>
        <div class="position-relative row form-group">
          <label for="exampleFile" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-10"><input name="detail_image1" (change)="DtlImage1Change($event.target.files)" id="quest_detail_image" accept="image/*" type="file" class="" >
            <input type="hidden" formControlName="quest_detail_image1" [ngClass]="{ 'is-invalid': submitted && f.quest_detail_image1.errors }" />
        <div class="row"><div class="col-md-5 image-upload"><img [src]="preview_detail_image1" height="100" *ngIf="preview_detail_image1"></div></div>
          </div>
        </div>
        <div class="position-relative row form-group"><label for="quest_detail1" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <angular-editor formControlName="quest_detail1" [ngClass]="{ 'is-invalid': submitted && f.quest_detail1.errors }" [config]="wyswigconfig"></angular-editor>
          </div>
        </div>
      </div>

      <div class="details-div">
        <h6>Detail 3</h6>
        <div class="position-relative row form-group">
          <label for="exampleFile" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-10"><input name="detail_image2" (change)="DtlImage2Change($event.target.files)" id="quest_detail_image" accept="image/*" type="file" class="" >
            <input type="hidden" formControlName="quest_detail_image2" [ngClass]="{ 'is-invalid': submitted && f.quest_detail_image2.errors }" />
        <div class="row"><div class="col-md-5 image-upload"><img [src]="preview_detail_image2" height="100" *ngIf="preview_detail_image2"></div></div>
          </div>
        </div>

        <div class="position-relative row form-group"><label for="quest_detail2" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <angular-editor formControlName="quest_detail2" [ngClass]="{ 'is-invalid': submitted && f.quest_detail2.errors }" [config]="wyswigconfig"></angular-editor>
          </div>
        </div>
      </div>

      <div class="position-relative row form-group"><label for="quest_status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <mat-form-field>
            <mat-select name="status" id="quest_status" formControlName="quest_status"  [ngClass]="{ 'is-invalid': submitted && f.quest_status.errors }">
              <mat-option value="1"> Published</mat-option>
              <mat-option value="0"> Draft</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="position-relative row form-group">
        <label for="quest_publish_date" class="col-sm-2 col-form-label">Publish Date</label>
        <div class="col-sm-10">
          <mat-form-field>
             <input matInput [matDatepicker] = "picker1" [max]="currentDate" formControlName="quest_publish_date" [ngClass]="{ 'is-invalid': submitted && f.quest_publish_date.errors }" placeholder = "Choose Publish Date">
             <mat-datepicker-toggle matSuffix [for] = "picker1"></mat-datepicker-toggle>
             <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="quest_sort_order" class="col-sm-2 col-form-label">Sort Order</label>
        <div class="col-sm-10">
            <input name="name" id="quest_sort_order" placeholder="Enter Quest Sort Order" type="text" formControlName="quest_sort_order" class="form-control"  >
        </div>
      </div> -->
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Submit</button>
          <a routerLink="/quest"><button type="button" class="mb-2 mr-2 btn btn-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
  <div>
   
  </div>
</div>