<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Settings</h5>
    <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
      <div class="position-relative row form-group"><label for="site_name" class="col-sm-2 col-form-label">Site Name</label>
        <div class="col-sm-10">
            <input name="name" id="site_name" placeholder="Enter Site Name" type="text" formControlName="site_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.site_name.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="site_email" class="col-sm-2 col-form-label">Site Email</label>
        <div class="col-sm-10">
            <input name="email" id="site_email" placeholder="Enter Site Email" type="email" formControlName="site_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.site_email.errors }" >
        </div>
      </div>
      <div class="position-relative row form-group"><label for="site_phoneno" class="col-sm-2 col-form-label">Site Phone No</label>
        <div class="col-sm-10">
            <input name="phoneno" id="site_phoneno" placeholder="Enter Site Phone Number" type="text" formControlName="site_phoneno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.site_phoneno.errors }" >
        </div>
      </div>
      <!-- <div class="position-relative row form-group"><label for="site_currency_symbol" class="col-sm-2 col-form-label">Site Currency Symbol</label>
        <div class="col-sm-10">
            <input name="Currency_symbol" id="site_currency_symbol" placeholder="Enter Site Currency Symbol" type="text" formControlName="site_currency_symbol" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.site_currency_symbol.errors }" >
        </div>
      </div> -->
      <div class="position-relative row form-group">
        <label for="site_logo" class="col-sm-2 col-form-label">Logo</label>
        <div class="col-sm-10"><input name="logo" (change)="IconChange($event.target.files)" id="site_logo" accept="image/*" type="file"  class=""  >
          <input type="hidden" formControlName="site_logo" [ngClass]="{ 'is-invalid': submitted && f.site_logo.errors }" />
          <div class="row">
            <div class="col-md-5 profile-picture"><img [src]="preview_site_logo" height="100" *ngIf="preview_site_logo"/></div>
          </div>
        </div>
      </div>
      <div class="position-relative row form-check">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="mb-2 mr-2 btn btn-secondary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>