<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <a routerLink="/"><div class="logo-src"></div></a>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar>
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-header">General</div>
            <div class="vsm-item" *ngIf="disactive.user">
              <a routerLink="/user" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-user"></i>
                <span class="vsm-title">Users</span>
              </a>
            </div> 
            <div class="vsm-item" *ngIf="disactive.voucher">
              <a routerLink="/voucher" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-ticket"></i>
                <span class="vsm-title">Vouchers</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.redeem_requests">
              <a routerLink="/redeem_requests" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-ticket"></i>
                <span class="vsm-title">Voucher Redeem Requests</span>
              </a>
            </div>
            <div class="vsm-item" *ngIf="disactive.quest">
              <a routerLink="/quest" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-cubes"></i>
                <span class="vsm-title">Quests</span>
              </a>
            </div> 
            <div class="vsm-item" *ngIf="disactive.complete_requests">
              <a routerLink="/complete_requests" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon fa fa-cubes"></i>
                <span class="vsm-title">Quest Complete Requests</span>
              </a>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
