@import "assets/base";

.app-theme-white{
	a{
		&:hover{
			text-decoration:none !important;
		}
	}
}
/* create new  button hover*/
.app-page-title{
	.page-title-wrapper{
		.page-title-actions{
		a{
		&:hover{
			text-decoration:none !important;
			color:#fff !important;
		}
	}
}
	}
}
/* add profile picture alignment*/
.image-upload{
	img{
		padding:10px 0;
	}
}
/*edit  and delete icon*/

.edit-icon, .delete-icon{
	font-size: 16px !important;
	color:#21409a;
}
.fa-edit, .fa-trash, .fa-eye{
	font-size:16px !important;
	color: #21409a;
}

/* logo size for while close sidebar*/
.closed-sidebar .app-sidebar .logo-src {
    width: 45px;
    height: 45px;
    margin: 0 auto;
	background-size: cover;
//    background: url(/assets/images/logo-xs.png) !important;
//    background-repeat: no-repeat !important;
//    background-size: cover;
//    background-position: center center;
}
.closed-sidebar .app-sidebar .app-header__logo {
    padding: 0 1rem;
}
.closed-sidebar.closed-sidebar-open .app-sidebar .logo-src
{
	background-size: contain ;
}
.dropdown-width{
	min-width:150px !important;
	padding:10px !important;
	.scroll-area-xs{
		height:auto;
	}
}
/*error while form submit*/
.admin-forms .form-group bfv-messages{
	margin-left:18.6%;
}
/* form submit*/
.form-check div {
    padding: 0;
}

/* new style changes */

.mat-paginator-container
{
    padding: 0 35px !important;
}
.card-body 
{
    form 
    {
        input, select, textarea 
        {
            max-width: 500px;
        }
    }
}

.header-megamenu-changes
{
	align-items: center;
    justify-content: center;
    .badge
    {
	    display: flex;
	    align-items: center;
	    margin-right: 0px !important;	
	    i 
	    {
		    font-size: 14px;
	    	margin-right: 7px;
	    }
    }
    .dropdown
    {
    	button
    	{
			&:after
		    {
		    display:none;
		    }
    	}
    }
    .dropdown-menu.show
    {
		transform: translate(-45px, 45px) !important;
		-webkit-transform: translate(-45px, 45px) !important;
		-moz-transform: translate(-45px, 45px) !important;
		-ms-transform: translate(-45px, 45px) !important;
		.scroll-area-xs
		{
			height: auto !important;
		}
		.flex-column
		{
			li 
			{
				text-align:center;
			}
		}
    }
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
     flex: 1.5 !important;
}
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    margin-right: 0px;
}
mat-cell, mat-footer-cell, mat-header-cell {
    flex: 6 !important;
    display: block !important;
    min-height: initial !important;
    padding-right: 10px;
}

mat-cell:last-of-type a, mat-footer-cell:last-of-type a, mat-header-cell:last-of-type a
{
    width: 25%;
    float: left;
    display: inline-block;
}
mat-cell:last-of-type a button
{
    margin-left: 0rem !important;
    padding-left: 0px;
}
.voucher-list-new
{
    a 
    {
       width: 33% !important; 
    }
}
$underline-color-warn:  #d92550 !important;

.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #d92550 !important;
}

.position_relative
{
    bfv-messages
    {
        position: relative;
        left: 181.5px;
    }
}

.example-container
{
    .mat-table
    {
        .mat-row 
        {
            position: relative;
        }
    }
}

.sucess-loop
{
    &:before
    {
        content:'';
        position: absolute;
        left:0px;
        top:0px;
        width:5px;
        height: 100%;
        background: green;
    }
}
.expired-loop
{
    &:before
    {
        content:'';
        position: absolute;
        left:0px;
        top:0px;
        width:5px;
        height: 100%;
        background: #EE325F;
    }
}
.button_hide
{
    opacity: 0;
}
mat-cell:last-of-type {
    padding-right: 10px !important;
}
.details-div
{
    border: 1px solid #e0f3ff;
    padding: 10px 10px;
    box-shadow: 0px 1px 5px #e0f3ff;
    margin-bottom: 20px;
}
.details-div h6
{
    font-size: 18px;
    font-weight: 500;
}