<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" [link]="link"></app-page-title>
<!-- <div class="card main-card mb-3">
  <div class="card-header">
    Merchants
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Merchant Name</th>
      <th scope="col">Merchant Status</th>
      <th scope="col">Merchant created on</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let merchant of merchants; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ merchant.merchant_name }}
      </td>
      <td>{{ merchant.merchant_status }}</td>
      <td>{{ merchant.merchant_created_on }}</td>
      <td class="text-center">
	      <a routerLink="/merchant/edit/{{ merchant.merchant_id }}"><button type="button" class="mb-2 mr-2 btn btn-primary">Edit</button></a>
        <a (click)="deleteMerchant(merchant.merchant_id)"><button type="button" class="mb-2 mr-2 btn btn-danger">Delete</button></a>
	    </td>
    </tr>
    </tbody>
  </table>
</div> -->

<div class="mb-5">
  <mat-form-field>  
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="search_key" placeholder="Search"> 
  </mat-form-field> 
  <button class="ml-2 mat-raised-button" (click)="clearFilters()" mat-button1 ><i class="fa fa-refresh"></i></button>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="s_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
        <mat-cell *matCellDef="let merchant;let j=index;"> 
          {{ (j+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="merchant_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let merchant"> {{merchant.merchant_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category</mat-header-cell>
        <mat-cell *matCellDef="let merchant"> {{merchant.category_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="merchant_status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let merchant"> {{merchant.merchant_status}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="merchant_created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on</mat-header-cell>
        <mat-cell *matCellDef="let merchant"> {{merchant.merchant_created_on}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let merchant" >
            <a routerLink="/merchant/view/{{ merchant.merchant_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-eye"></i></button></a>
            <a routerLink="/merchant/edit/{{ merchant.merchant_id }}"><button class="ml-2 btn-icon btn btn-icon-only" ><i class="fa fa-edit"></i></button></a>
            <a (click)="deleteMerchant(merchant.merchant_id)"><button class="ml-2 btn-icon btn-icon-only btn "><i class="fa fa-trash"></i></button></a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #myPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
