<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" ></app-page-title>

<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">View Merchant</h5>
    <form [formGroup]="merchantForm">
        <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <label>{{getControlLabel('merchant_name')}}</label>
            </div>
        </div>
        <div class="position-relative row form-group"><label for="merchant_category_name" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <label>{{getControlLabel('merchant_category_name')}}</label>
            </div>
        </div>
        <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <label [innerHTML]="getControlLabel('merchant_description')"></label>
            </div>
        </div>
        <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <label *ngIf="getControlLabel('merchant_status')=='1'">Enabled</label>
                <label *ngIf="getControlLabel('merchant_status')=='0'">Disabled</label>
            </div>
        </div>
        <div class="position-relative row form-group"><label for="merchant_name" class="col-sm-2 col-form-label">Logo</label>
            <div class="col-sm-10">
                <label><div class="col-md-5 profile-picture"><img [src]="preview_merchant_logo" height="100" *ngIf="preview_merchant_logo"/></div></label>
            </div>
        </div>
        <div class="position-relative row form-check">
            <div class="col-sm-10 offset-sm-2">
              <a routerLink="/merchant"><button type="button" class="mb-2 mr-2 btn btn-light">Back</button></a>
            </div>
        </div>
    </form>
  </div>
</div>